{% extends 'main.html' %}
{% block title %} Каталог OZZE {% endblock %}
{% block content %}

<p><strong>Размерная таблица</strong></p>
<p><strong>Эта таблица поможет Вам подобрать размер соответствующий нашим товарам.</strong></p>
<p><strong>Снимайте мерки впритык по фигуре. Не делайте прибавки на свободу облегания.</strong></p>

<h1>Пример:</h1>
<p>Если Вы сняли мерки с Вашей фигуры без прибавок ОГ-100см &#8212; ОТ-82см &#8212; ОБ-106см, то заказывайте изделие р.50. Не важно, пальто это, или блузка.</p>
<p><strong>Наши конструкторы делают необходимые прибавки на свободу облегания, установленные ГОСТами Украины.</strong></p>
<h1> <span style="font-size: 75%;">Размеры от 40 до 80</span></h1>
</div>
<table>
<tbody>
<tr>
<td></td>
<td><span style="font-size: 115%;"><strong>40</strong></span></td>
<td><span style="font-size: 115%;"><strong>42</strong></span></td>
<td><span style="font-size: 115%;"><strong>44</strong></span></td>
<td><span style="font-size: 115%;"><strong>46</strong></span></td>
<td><span style="font-size: 115%;"><strong>48</strong></span></td>
<td><span style="font-size: 115%;"><strong>50</strong></span></td>
<td><span style="font-size: 115%;"><strong>52</strong></span></td>
<td><span style="font-size: 115%;"><strong>54</strong></span></td>
<td><span style="font-size: 115%;"><strong>56</strong></span></td>
<td><span style="font-size: 115%;"><strong>58</strong></span></td>
<td><span style="font-size: 115%;"><strong>60</strong></span></td>
<td><span style="font-size: 115%;"><strong>62</strong></span></td>
</tr>
<tr>
<td>Обх.груди</td>
<td>80</td>
<td>84</td>
<td>88</td>
<td>92</td>
<td>96</td>
<td>100</td>
<td>104</td>
<td>108</td>
<td>112</td>
<td>116</td>
<td>120</td>
<td>124</td>
</tr>
<tr>
<td>Обх.талии</td>
<td>62</td>
<td>66</td>
<td>70</td>
<td>74</td>
<td>78</td>
<td>82</td>
<td>86</td>
<td>92</td>
<td>98</td>
<td>104</td>
<td>110</td>
<td>116</td>
</tr>
<tr>
<td>Обх.бедер</td>
<td>86</td>
<td>90</td>
<td>94</td>
<td>98</td>
<td>102</td>
<td>106</td>
<td>110</td>
<td>116</td>
<td>122</td>
<td>128</td>
<td>132</td>
<td>136</td>
</tr>
</tbody>
</table>



{% endblock %}